@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: android;
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
}

:root{
    --background: #63ffd5;
    --cor0: #23AD88;
    --cor1: #317A67;
    --cor2: #00E0A3;
    --cor3: #2B4740;
    --cor5: #293330;
    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'android', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--background);
    font-family: var(--font-padrao);
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: var(--cor1);
    font-weight: bold;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor1);
    background-color: var(--cor2);
    padding: 1px 2px;
}
main a:hover{
    background-color: var(--cor3);
    text-decoration: underline;
}
header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > p{
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.309);
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
nav{
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.31);
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
    transition-duration: .2s;
}
nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor3);
}
header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.309);
}
main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.503);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
article > h1{
    color: var(--cor1);
    font-weight: normal;
    font-family: var(--font-android);
    font-size: 1.8em;
}
article > h2{
    color: var(--cor1);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

div.video{
    background-color: var(--cor1);
    margin: 0px -20px 10px -20px;
    padding: 10px;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside > h3{
    background-color: var(--cor1);
    padding: 10px;
    margin: -6px -6px 0px -6px;
    border-radius: 10px 10px 0px 0px;
}

aside{
    background-color: var(--cor2);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.503);
}
aside > ul{
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer p > a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}